/* CSS for Pasta Pop-Up Buttons */

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: var(--padding-lg);
  padding: var(--no-padding) var(--padding-md);
  gap: var(--gap-md);
}

.button {
  background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
  color: var(--main-text-color);
  font-family: var(--secondary-font);
  font-size: var(--main-page-buttons-text);
  font-weight: 400;
  border: var(--stroke-sm) solid var(--main-stroke-color);
  border-radius: var(--radius-md);
  width: var(--width-full-sm);
  height: var(--height-xxl);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xxs);
  margin: var(--margin-none);
  line-height: var(--line-height-sm);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Removed hover effects as requested */

.button:active {
  transform: scale(var(--scale-pressed));
}