.card {
    margin-top: var(--padding-sm);
    width: var(--width-xxl);
    height: var(--width-xxl);
    font-size: var(--main-box-text);
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--main-text-color);
    border-radius: var(--radius-xs);
    border: var(--stroke-sm) solid var(--main-stroke-color);
    font-weight: 300;
}

.icon {
    width: var(--width-lg);
    height: var(--width-lg);
    padding-top: var(--padding-xs);
}

.subtext {
    font-size: var(--box-subtext);
    align-self: flex-end;
    padding-right: var(--padding-xs);
}