/* CSS for Cart Items */
.container-cart {
    margin-top: -4rem;
    margin-bottom: 1rem;
}


.cart-item {
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    border: var(--stroke-xs) solid var(--main-stroke-color);
    border-radius: 3.125rem;
    padding: var(--padding-xs) var(--padding-md);
    color: var(--main-text-color);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    width: 55.75rem;
    position: relative;
    margin: 4rem;
}

.item-name {
    flex: 1;
    font-size: var(--medium-box-text);
}

.item-price {
    margin-right: var(--padding-md);
    font-size: var(--box-subtext);
}

.item-buttons {
    display: flex;
    gap: var(--padding-xs);
}

.edit-button, .delete-button {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    border-radius: 3rem;
    padding: 5px 10px;
    font-size: var(--button-text);
    font-family: "Poppins", sans-serif;
    background-color: var(--main-color);
    width: 11rem;
    height: 4rem;
}