/* CSS for Chef Notes */

.chef-notes {
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    border: var(--stroke-xs) solid var(--main-stroke-color);
    border-radius: var(--radius-xl);
    padding: var(--padding-xs) var(--padding-md);
    color: var(--main-text-color);
    font-family: var(--secondary-font);
    font-size: var(--main-box-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-xl);
    width: var(--width-full-lg);
    margin-top: var(--margin-lg);
    margin-bottom: var(--margin-lg);
}

.add-button {
    background-color: var(--main-color);
    color: var(--main-text-color);
    border-radius: var(--radius-xxl);
    padding: var(--padding-xxs) var(--padding-xs);
    font-size: var(--button-text);
    font-family: var(--secondary-font);
    width: var(--width-sm);
    height: var(--height-xxs);
}