/* CSS for Extra Item */

.extra-item {
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    border: var(--stroke-xs) solid var(--main-stroke-color);
    border-radius: var(--radius-xl);
    padding: var(--padding-md) var(--padding-sm);
    color: var(--main-text-color);
    font-family: var(--secondary-font);
    font-size: var(--main-box-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-lg);
    width: var(--width-xxxl);
}

.extra-item-text {
    font-size: var(--box-subtext);
    margin-right: var(--padding-xs);
}