/* CSS for Extra Item */

.extra-item {
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    border: var(--stroke-xs) solid var(--main-stroke-color);
    border-radius: var(--radius-lg);
    padding: 0 var(--padding-md);
    color: var(--main-text-color);
    font-family: var(--secondary-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    position: relative;
    cursor: pointer;
    font-size: var(--box-subtext);
}

.extra-item-text {
    font-size: var(--box-subtext);
    margin-right: auto;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.extra-item-text {
    font-size: var(--box-subtext);
    margin-left: var(--margin-neg-md);
}