/* CSS for Pasta Pop-Up Layout */

body {
  font-family: var(--primary-font);
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  margin: var(--margin-none) auto;
  align-items: center;
  padding: var(--padding-sm) var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
}

.secondary-container {
margin-top: var(--margin-xxl);
}