nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-neg-xxl);
}

.back-button-svg, .home-button-svg {
    color: var(--black);
    width: var(--svg-icon-sm);
    height: var(--svg-icon-sm);
    background-color: var(--secondary-color);
    border-radius: var(--radius-circle);
    padding: var(--padding-xxs);
    margin: var(--padding-sm);
}

.shopping-cart-svg {
    width: var(--svg-icon-sm);
    height: var(--svg-icon-sm);
    margin-top: var(--margin-neg-xl);
    background-color: var(--secondary-color);
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    padding: var(--margin-xs);
    position: fixed;
    right: 0;
}