.receipt-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    width: var(--width-xxxxxl);
    height: var(--height-full-xxl);
    align-items: center;
    border-radius: var(--radius-sm);
    border: solid var(--main-stroke-color) var(--stroke-lg);
}

.receipt-icon {
    width: var(--icon-xl);
    height: var(--icon-xl);
}

.receipt-text {
    font-size: var(--receipt-text);
    font-family: var(--secondary-font);
    color: var(--white);
    margin-bottom: var(--margin-md);
}

.title--secondary {
    margin-top: var(--margin-xxl);
    margin-bottom: var(--margin-xxl);
    font-size: var(--title-secondary);
}