.size-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xs);
    min-height: 100vh;
    margin-top: var(--margin-neg-xxxl);
}

.size-option-small {
    margin-bottom: var(--padding-xl);
    width: var(--width-xxxxl);
    height: var(--height-full-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    justify-content: space-between;
    border-radius: var(--radius-sm);
    border: var(--stroke-sm) solid var(--main-stroke-color);
}

.size-icon-small {
    margin-top: var(--padding-xs);
    width: var(--icon-sm);
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-xs);
}

.size-price, .size-name {
    font-size: var(--small-box-text);
    color: var(--white);
    font-family: var(--secondary-font);
    font-weight: 300;
}

.size-price {
    align-self: flex-end;
    padding-right: var(--padding-xs);
}

.size-name {
    padding-bottom: var(--padding-xs);
}

.size-option-medium {
    width: var(--width-full-sm);
    height: var(--height-full-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    justify-content: space-between;
    border-radius: var(--radius-sm);
    border: var(--stroke-sm) solid var(--main-stroke-color);
    margin-bottom: var(--padding-xl);
}

.size-icon-medium {
    width: var(--icon-md);
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-lg);
}

.size-option-large {
    width: var(--width-full-md);
    height: var(--height-full-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    justify-content: space-between;
    border-radius: var(--radius-sm);
    border: var(--stroke-sm) solid var(--main-stroke-color);
}

.size-icon-large {
    width: var(--icon-lg);
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-lg);
}

.size-name-small, .size-price-small {
    font-size: var(--small-box-text);
}

.size-name-medium, .size-price-medium {
    font-size: var(--medium-box-text);
}

.size-name-large, .size-price-large{
    font-size: var(--large-box-text);
}

.size-name-small {
    margin-bottom: var(--margin-neg-md);
}
.size-name-medium {
    margin-bottom: var(--margin-neg-sm);
}

.size-name-large {
    margin-bottom: var(--margin-neg-sm);
}