.size-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    min-height: 100vh;
    margin-top: -15rem;
}

.size-option-small {
    margin-bottom: var(--padding-xl);
    width: 37.5rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    justify-content: space-between;
    border-radius: 2rem;
    border: var(--stroke-sm) solid var(--main-stroke-color);
}

.size-icon-small {
    margin-top: var(--padding-xs);
    width: 7.6875rem;
    padding-top: 20px;
    padding-bottom: var(--padding-xs);
}

.size-price, .size-name {
    font-size: var(--small-box-text);
    color: var(--white);
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 200;
}

.size-price {
    align-self: flex-end;
    padding-right: var(--padding-xs);
}

.size-name {
    padding-bottom: var(--padding-xs);
}

.size-option-medium {
    width: 46.875rem;
    height: 23.4375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    justify-content: space-between;
    border-radius: 2rem;
    border: var(--stroke-sm) solid var(--main-stroke-color);
    margin-bottom: var(--padding-xl);
}

.size-icon-medium {
    width: 10.625rem;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-lg);
}

.size-option-large {
    width: 54.375rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    justify-content: space-between;
    border-radius: 2rem;
    border: var(--stroke-sm) solid var(--main-stroke-color);
}

.size-icon-large {
    width: 14.625rem;
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-lg);
}

.size-name-small, .size-price-small {
    font-size: var(--small-box-text);
}

.size-name-medium, .size-price-medium {
    font-size: var(--medium-box-text);
}

.size-name-large, .size-price-large{
    font-size: var(--large-box-text);
}

.size-name-small {
    margin-bottom: -1rem;
}
.size-name-medium {
    margin-bottom: -2rem;
}

.size-name-large {
    margin-bottom: -2rem;
}