/* CSS for Pasta Pop-Up Title and Subtitle */

.title {
    font-family: "Oregano", "Arial", sans-serif;
    font-size: var(--title);
    text-align: center;
    color: var(--main-color);
    margin-bottom: var(--padding-xxs);
    line-height: 1;
}

.subtitle {
    font-family: "Oregano", "Arial", sans-serif;
    font-size: var(--title-subtext);
    text-align: center;
    color: var(--main-color);
    line-height: 1.1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--padding-lg);
}