/* CSS for Pasta Pop-Up Title and Subtitle */

.title {
    font-family: var(--primary-font);
    font-size: var(--title);
    text-align: center;
    color: var(--main-color);
    margin-bottom: var(--padding-xxs);
    line-height: var(--line-height-sm);
    margin-bottom: var(--margin-md);
}

.subtitle {
    font-family: var(--primary-font);
    font-size: var(--title-subtext);
    text-align: center;
    color: var(--main-color);
    line-height: var(--line-height-md);
    margin-bottom: var(--margin-md);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--padding-lg);
}