/* CSS for Total Price */

.total-price {
    background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
    border: var(--stroke-sm) solid var(--main-stroke-color);
    border-radius: var(--radius-xxxl);
    padding: var(--padding-xs) var(--padding-md);
    color: var(--main-text-color);
    font-family: var(--secondary-font);
    font-size: var(--main-box-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-xxxl);
    width: var(--width-full-xl);
    margin-top: var(--margin-lg);
}

.back-arrow img {
    width: var(--icon-xs);
    height: var(--icon-xs);
    background-color: var(--secondary-color);
    border-radius: var(--radius-circle);
    padding: var(--padding-xxs);
}

.total-text {
    flex-grow: 1;
    text-align: center;
    font-size: var(--medium-box-text);
}

.pay-button {
    background-color: var(--main-color);
    color: var(--main-text-color);
    border-radius: var(--radius-md);
    padding: var(--padding-xxs) var(--padding-xs);
    font-size: var(--button-text);
    cursor: pointer;
    font-family: var(--secondary-font);
    width: var(--width-sm);
    height: var(--height-sm);
}

.total-price-value {
    font-size: var(--main-box-text);
}